.animacia {
    transition: 2s;
    top: 2vw;
}
.animacia1 {
    transition: 2s;
    top: 13vw;
}

.hiddenBlock {
    transition: 2s;
    top: 20vw;
    opacity: 0;
}
.blochNoHidden {
    transition: 2s;
    top: 4vw;
    opacity: 1;
}

.poqrKlor {
    transition: 2s;
    width: 35vw;
    height: 35vw;
    top: -10vw;
    left: 8vw;
}
.metsKlor {
    transition: 2s;
    width: 40vw;
    height: 40vw;
    top: -20vw;
    left: -0vw;
}
.Nike {
    font-size: 1.5vw;
    text-align: center;
    margin: 0;
    position: relative;
    color: #fff;
}

.NikeNerqev {
    top: 10vw;
    transition: 2s;
}
.NikeVerev {
    top: 0vw;
    transition: 2s;
}

.guyner {
    width: 1.5vw;
    height: 1.5vw;
    border: 0.2vw solid;
    border-radius: 50%;
    margin: 0.3vw;
}

.colorChoos {
    font-size: 1.7vw;
    margin: 1vw;
    /* margin-bottom: 0vw; */
    display: flex;
}

.submit {
    display: flex;
    justify-content: center;
}

.submit button {
    border-radius: 5px;
    padding: 1vw 2vw;
    font-size: 1.7vw;
}
